<!DOCTYPE html>
<html>
<head>
    <title>Empires Games Stats</title>
    <link rel="stylesheet" href="bootswatch-yeti.min.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style>
        .name {
            width: 150px;
        }
        .bar {
            height: 12px;
        }
        .post {
            background-color: #4EB1CB;
        }
        .thanks {
            background-color: #CF5C60;
        }
        .account {
            background-color: #717ECD;
        }
        .task {
            background-color: #4AB471;
        }
        .opportunity {
            background-color: #F3AE4E;
        }
        .event {
            background-color: #D96383;
        }
        .spacing {
            margin-bottom: 35px;
        }
        .stats-table td {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .stats-table td span {
            font-size: 14pt;
            font-weight: normal;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="spacing">Empires Leaderboard <br /><small>6 GAMES PLAYED</small></h1>
        <table class="table stats-table spacing">
            <tbody>
            <tr class="active">
                <td>
                    209<br>
                    <span>Highest points</span>
                </td>
                <td>
                    170<br>
                    <span>Average points</span>
                </td>
            </tr>
            <tr class="active">
                <td>
                    4.567<br>
                    <span>Cards played</span>
                </td>
                <td>
                    10.567<br>
                    <span>Battles fought</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>MOST WINS</h4>
            <table class="table">
                <tbody>
                <tr>
                    <td class="name">Henrik</td>
                    <td><div class="bar post" data-value="3"></div></td>
                </tr>
                <tr>
                    <td>Jonas</td>
                    <td><div class="bar thanks" data-value="2"></div></td>
                </tr>
                <tr>
                    <td>Gustav</td>
                    <td><div class="bar opportunity" data-value="2"></div></td>
                </tr>
                <tr>
                    <td>Pontus</td>
                    <td><div class="bar task" data-value="1"></div></td>
                </tr>
                <tr>
                    <td>Johan</td>
                    <td><div class="bar event" data-value="0"></div></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>MOST POINTS</h4>
            <table class="table">
                <tbody>
                <tr>
                    <td class="name">Henrik</td>
                    <td><div class="bar post" data-value="1542"></div></td>
                </tr>
                <tr>
                    <td>Jonas</td>
                    <td><div class="bar thanks" data-value="1365"></div></td>
                </tr>
                <tr>
                    <td>Gustav</td>
                    <td><div class="bar opportunity" data-value="1289"></div></td>
                </tr>
                <tr>
                    <td>Pontus</td>
                    <td><div class="bar task" data-value="1167"></div></td>
                </tr>
                <tr>
                    <td>Johan</td>
                    <td><div class="bar event" data-value="1089"></div></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>MOST POINTS IN A GAME</h4>
            <table class="table">
                <tbody>
                <tr>
                    <td class="name">Henrik</td>
                    <td><div class="bar post" data-value="208"></div></td>
                </tr>
                <tr>
                    <td>Jonas</td>
                    <td><div class="bar thanks" data-value="205"></div></td>
                </tr>
                <tr>
                    <td>Gustav</td>
                    <td><div class="bar opportunity" data-value="193"></div></td>
                </tr>
                <tr>
                    <td>Pontus</td>
                    <td><div class="bar task" data-value="186"></div></td>
                </tr>
                <tr>
                    <td>Johan</td>
                    <td><div class="bar event" data-value="179"></div></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4>MOST BATTLES WON</h4>
            <table class="table">
                <tbody>
                <tr>
                    <td class="name">Henrik</td>
                    <td><div class="bar post" data-value="614"></div></td>
                </tr>
                <tr>
                    <td>Jonas</td>
                    <td><div class="bar thanks" data-value="580"></div></td>
                </tr>
                <tr>
                    <td>Gustav</td>
                    <td><div class="bar opportunity" data-value="570"></div></td>
                </tr>
                <tr>
                    <td>Pontus</td>
                    <td><div class="bar task" data-value="450"></div></td>
                </tr>
                <tr>
                    <td>Johan</td>
                    <td><div class="bar event" data-value="425"></div></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <h4>FORM</h4>
            <div id="form-graph">

            </div>
        </div>
    </div>

    <div class="footer">
        <p>This page displays aggregated statistics from games we've played over at <a href="http://www.gamesbyemail.com">gamesbyemail.com</a>.</p>
    </div>

</div> <!-- /container -->
<script>
    (function() {
        function generateBars(table) {
            var bars = table.getElementsByClassName('bar');

            var i = 0, l = bars.length, topp = 0;
            var size = bars[i].parentElement.getBoundingClientRect().width - 35;
            // find out top value
            for (; i < l; i++) {
                topp = parseInt(bars[i].dataset.value) > topp ? parseInt(bars[i].dataset.value) : topp;
                console.log('(top)', topp);
            }
            i = 0;
            for (; i < l; i++) {
                bars[i].style.width = ((bars[i].dataset.value/topp) * size) + 'px';
            }
        }

        generateBars(document.getElementsByTagName('table')[1]);
        generateBars(document.getElementsByTagName('table')[2]);
        generateBars(document.getElementsByTagName('table')[3]);
        generateBars(document.getElementsByTagName('table')[4]);

        var formData = [
            {
                name: 'Johan',
                form: [
                    { y: 154, x: 1 },
                    { y: 176, x: 2 },
                    { y: 180, x: 3 },
                    { y: 156, x: 4 },
                    { y: 152, x: 5 }
                ],
                color: '#D96383'
            },
            {
                name: 'Jonas',
                form: [
                    { y: 189, x: 1 },
                    { y: 190, x: 2 },
                    { y: 175, x: 3 },
                    { y: 167, x: 4 },
                    { y: 180, x: 5 }
                ],
                color: '#CF5C60'
            },
            {
                name: 'Gustav',
                form: [
                    { y: 167, x: 1 },
                    { y: 169, x: 2 },
                    { y: 175, x: 3 },
                    { y: 180, x: 4 },
                    { y: 190, x: 5 }
                ],
                color: '#F3AE4E'
            },
            {
                name: 'Pontus',
                form: [
                    { y: 200, x: 1 },
                    { y: 176, x: 2 },
                    { y: 160, x: 3 },
                    { y: 203, x: 4 },
                    { y: 164, x: 5 }
                ],
                color: '#4AB471'
            },
            {
                name: 'Henrik',
                form: [
                    { y: 203, x: 1 },
                    { y: 194, x: 2 },
                    { y: 186, x: 3 },
                    { y: 176, x: 4 },
                    { y: 190, x: 5 }
                ],
                color: '#4EB1CB'
            }
        ];

        var w = document.getElementById('form-graph').getBoundingClientRect().width;
        var h = 320;

        console.log('svg width: ' + w);

        var y = d3.scale.linear().domain([210, 140]).range([0, h]);
        var x = d3.scale.linear().domain([0.9, 5.1]).range([0, w]);

        var lineFunction = d3.svg.line()
                .x(function(d) { return x(d.x); })
                .y(function(d) { return y(d.y); })
                .interpolate('monotone');

        var svgContainer = d3.select('#form-graph').append('svg')
                .attr('width', w)
                .attr('height', h);

        var group = null;

        formData.forEach(function(player) {
            group = svgContainer.append('g');
            group.append('path')
                .attr('d', lineFunction(player.form))
                .attr('stroke', player.color)
                .attr('stroke-width', 2)
                .attr('fill', 'none');
            group.selectAll('circle')
                 .data(player.form)
                 .enter()
                 .append('circle')
                 .attr('cx', function(d) { return x(d.x); })
                 .attr('cy', function(d) { return y(d.y); })
                 .attr('r', 3)
                 .style('fill', player.color);
        });
    }());

</script>
</body>
</html>
