<table class="table stats-table spacing">
    <tbody>
    <tr class="active">
        <td>
            {{highestPoints}}<br>
            <span>Highest points</span>
        </td>
        <td>
            {{averagePoints}}<br>
            <span>Average points</span>
        </td>
    </tr>
    <tr class="active">
        <td>
            {{cardsPlayed}}<br>
            <span>Cards played</span>
        </td>
        <td>
            {{battlesFought}}<br>
            <span>Battles fought</span>
        </td>
    </tr>
    </tbody>
</table>
